<div class="container">
  <h2 class="user-header"><%= @user.name %></h2>
  <h4 class="user-points">
    Points: <%= @user.points %>
  </h4>
  <div class="answers">
    <% @guesses.each do |guess| %>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label question">
          <%= guess.question.text %>
        </label>
        <div class="col-sm-2 answer">
          <%= guess.text %>
        </div>
        <div class="col-sm-1">
          <% if guess.correct? %>
            <% if guess.extra_points? %>
              +2
            <% else %>
              +1
            <% end %>
          <% elsif guess.negative_points? %>
            -1
          <% else %>
            0
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
