.top {
  background-color: #040404;
  color: #FFFFFF;
  font-size: 28px;

  .nav {
    .nav-link {
      margin-top: 10px;
    }

    a:visited {
      color: #FFFFFF;
    }

    a.logo:hover {
      background-color: #040404;
      border: 0;
      border-radius: 0;
    }
  }
}

a:-webkit-any-link.logo {
  border: 0;
  border-radius: 0;
}
