<!DOCTYPE html>
<html>
<head>
  <%= render "shared/head" %>
</head>
<body>
  <div class="top">
    <div class="container">
      <%= render "shared/nav" %>
    </div>
    <%= render "shared/characters" %>
  </div>
  <div class="container leaderboard">
    <%= yield %>
  </div>
  <script type="text/javascript">
    $(function() {
      $('.full').quickfit({min: 8, max: 240});
    });
  </script>
</body>
</html>
